<nav class="navbar bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" 
      {% if user.is_authenticated %}
      href="{% url 'post-list' %}"

      {% else %}
      
      href="{% url 'index' %}"

      {% endif %}
      
      >loudpics.com</a>

      <a class="navbar-item" href="{% url 'profile' user.profile.pk %}">Profile</a>
      <form class="d-flex" role="search">
        <div class="input-group">
            <span class="input-group-text" id="basic-addon1">@</span>
            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
          </div>
      </form>
    </div>
  </nav>