{% extends 'landing/base.html' %} {% load crispy_forms_tags %} {% block content %}
<div class="container">
  <div class="row justify-content-center mt-3" class="btn btn-dark">
    <a href ="{% url 'post-list' %}"> BACK</a>
  </div>


  <div class="row justify-content-center mt-3">
    <div class="col-md-5 col-sm-12 border-bottom">
      <p><strong>{{ post.author }} </strong> {{ post.created_on }}</p></div>
      {% if post.image %}

      <img src="{{ post.image.url }}" class="post-image" />

      {% endif %}

      <p>{{ post.body }}</p>
    </div>
  </div>


  <!-- <div class="row  mt-3">
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %} {{ form | crispy }}
      <div class="d-grid gap-2">
        <button class="btn btn-dark mt-3">YELL!</button>
      </div>
    </form>
  </div> -->




  {% endblock content %}
</div>
